p {color:blue;
                font-size: 16px;}
            h1 {color:red;}
            .list1 {background-color: yellow;}
            .list2 {background-color: teal;}
            h2 {color: green;
                background-color: orange }